<html>
    <head>
        <Title>Kochbuch</Title>
    </head>
<body>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <p>{{ form.username.label }}</p>
        <p>{{ form.username(size=36)}}</p>
        <p>
            {% for error in form.username.errors %}
            <span style="color: red">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.password.label }}</p>
        <p>{{ form.password(size=36)}}</p>
        <p>
            {% for error in form.password.errors %}
            <span style="color: red">[{{ error }}]</span>
            {% endfor %}
        </p>
    
        {{ form.submit() }}
    </form>

    <a href="{{ url_for('register') }}">register</a>
</body>
</html>